<div class="sp_configItemView">
	<form class="aui long-label">
		<fieldset>
		    <div class="field-group">
		        <label for="settingsPane_maxResponseTime" class="sp_configSubTitle">
		            $action.getText('livingdoc.settings.maxResponseTime')
		        </label>
		        <span id="settingsPane_maxResponseTime" class="field-value sp_configOutput" name="settingsPane_maxResponseTime">
					$action.maxResponseTime
		        </span>
		    </div>
	    </fieldset>
    </form>
</div>